DATABASE_URL=file:/Users/justincheng/polymarket_data/dev.db
ORDERBOOK_REFRESH_MS=1000
STOP_LOSS_POLL_MS=500
BREAKOUT_POLL_MS=1000
ORDERBOOK_STALE_MS=3000
ORDERBOOK_STALE_MS_NORMAL=1000
ORDERBOOK_STALE_MS_FAST=500
ORDERBOOK_STALE_MS_EMERGENCY=250
MAX_RULE_EVAL_MS=2500
MAX_FULL_TICK_MS=3000
STOP_LOSS_RULE_CONCURRENCY=4
ORDERBOOK_FETCH_CONCURRENCY=2
ORDER_EXECUTION_CONCURRENCY=1
POLYMARKET_FETCH_TIMEOUT_MS=1500
POLYMARKET_ORDERBOOK_TIMEOUT_MS=700
POLYMARKET_ORDER_SUBMIT_TIMEOUT_MS=1500
API_ROUTE_TIMEOUT_MS=5000
EMERGENCY_ORDER_TIMEOUT_MS=1500
EMERGENCY_MAX_RETRIES=2
ALLOW_EMERGENCY_SPREAD_OVERRIDE=true
CLOB_CIRCUIT_BREAKER_FAILURES=3
CLOB_CIRCUIT_BREAKER_COOLDOWN_MS=3000
